/* другорядний колір тексту #757575 
/* основний колір тексту #212121 
/* білий колір #FFFFFF 
/* акцент #2196F3 
/* колір контактів у футері rgba(255, 255, 255, 0.6);
/* колір фону #FFFFFF */
/* другорядний колір фону #2F303A */
/* третій колір фону  #F5F4FA*/
:root {
  --primary-text-color: #212121;
  --secound-text-collor: #757575;
  --accent: #2196f3;
  --main-background-color: #ffffff;
  --secound-background-color: #2f303a;
  --footer-color-contacts: rgba(255, 255, 255, 0.6);
  --third-color-hero: #ffffff;
  --third-background-color: #f5f4fa;
  --icons-color: #afb1b8;
}
body {
  background-color: var(--main-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Raleway", sans-serif;
  font-size: 14px;
}
/* Стандартні речі */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* ХЕДЕР */
/* Лого у хедері */
.header {
  border: 1px solid #ececec;
  border-top: none;
  border-right: none;
  border-left: none;
}
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}

.navigation__label {
  color: var(--accent);
}
.navigation__slabel {
  color: var(--primary-text-color);
}
/* Кнопки навігації */
.navigation__list {
  display: flex;
}

.navigation__link {
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  padding-top: 32px;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.current {
  position: relative;
}
.navigation__link.current::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  right: 0;
  bottom: -1px;
  background-color: var(--accent);
  border-radius: 2px;
}
.navigation__item:not(:last-child) {
  margin-right: 50px;
}
.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent);
}

.contacts {
  display: flex;
  margin-left: auto;
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__icon:hover,
.contacts__icon:focus {
  fill: var(--accent);
}

.contacts__link {
  color: var(--secound-text-collor);
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  font-weight: 500;
  line-height: 1.17;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.contacts__item {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent);
}
/* Баннер */
.hero {
  background-color: var(--secound-background-color);
  max-width: 1600px;
  max-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundhero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--third-color-hero);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.hero__button {
  display: block;
  margin: auto;
  cursor: pointer;
  background-color: var(--accent);
  color: var(--third-color-hero);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.hero__button:hover,
.hero__button:focus {
  background-color: #188ce8;
}
.hero__text {
  padding: 10px 32px;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 4px;
  width: 528px;
  height: 581px;
}
/* .modal-close-icon{
  display: inline-block;
  height: 11px;
  width: 11px;
} */
.modal__close {
  padding: 0;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.modal__close:hover,
.modal__close:focus {
  fill: var(--accent);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.form {
  width: 448px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}
.form__title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secound-text-collor);
}
.form__input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  padding: 10px;
  padding-left: 42px;
  margin-top: 5px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.form__field:focus-within > .form__input {
  border-color: var(--accent);
  outline: none;
}
.form__field:focus-within > .form__icon {
  fill: var(--accent);
}
.form__field:focus-within > .form__textarea {
  border-color: var(--accent);
  outline: none;
}
.form__textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 12px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
textarea {
  resize: none;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secound-text-collor);
  position: relative;
}
.form-checkbox__text {
  cursor: pointer;
  margin-left: 3px;
  color: var(--accent);
  text-decoration: underline;
}
.form-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  margin-bottom: 30px;
}
.form-checkbox__icon {
  margin-right: 7px;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}
.form-checkbox__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-checkbox__input:checked + .form-checkbox__icon {
  border: transparent;
  border-color: var(--accent);
  background-color: var(--accent);
  background-origin: border-box;
}
.form-checkbox__real-icon {
  position: absolute;
  left: 3px;
}

.submit__button {
  cursor: pointer;
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-color-hero);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.submit__button:hover,
.submit__button:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Особливості */
.features-container {
  padding-bottom: 0;
}
.features-list-container {
  display: flex;
}
.icon-list-features {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.icon-item-features {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--third-background-color);
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.feature-list-item {
  width: 270px;
}
.feature-list-item:not(:last-child) {
  margin-right: 30px;
}
.features-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features-text {
  color: var(--secound-text-collor);
  line-height: 1.71;
}
/* Проекти */
.projects-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.list-container {
  display: flex;
}
.list-item:not(:last-child) {
  margin-right: 30px;
}
/* Команда */
.team {
  background-color: var(--third-background-color);
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.teammate-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;

  margin-bottom: 10px;
}
.teammate-profession {
  color: var(--secound-text-collor);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.team-container {
  display: flex;
}
.team-card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
}
.team-card:not(:last-child) {
  margin-right: 30px;
}
.team-card-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--main-background-color);
  color: var(--icons-color);
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--main-background-color);
}
.social-icon {
  fill: currentColor;
}
/* Клієнти */
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.customer-icon {
  fill: var(--icons-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.customers-link:hover,
.customers-link:focus {
  border-color: var(--accent);
}
.customers-link:hover .customer-icon,
.customers-link:focus .customer-icon {
  fill: var(--accent);
}
/* Футер */
.basement {
  background-color: var(--secound-background-color);
}

.logo-basement {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.address {
  font-style: normal;
  padding-top: 20px;
}
.basement .logo-secound-item {
  color: var(--third-color-hero);
}
.adress-item-maps {
  color: var(--third-color-hero);
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.adress-list-item:not(:last-child) {
  margin-bottom: 9px;
}
.adress-item {
  color: var(--footer-color-contacts);
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.adress-item-maps:hover,
.adress-item-maps:focus,
.adress-item:hover,
.adress-item:focus {
  color: var(--accent);
}
.footer-content {
  display: flex;
}
.webstudio {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 70px;
}
.footer-join-social {
  padding-top: 72px;
}
.footer-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.footer-join-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent);
}
.icon-footer {
  fill: var(--main-background-color);
}
.footer-form-field {
  margin-top: 20px;
}
.footer-form-label {
  margin-right: 12px;
}
.footer-form {
  padding-top: 72px;
  margin-left: 95px;
}
.footer-form-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-background-color);
}
.footer-form-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background-color: inherit;
  padding-left: 16px;
  font-size: 16px;
  color: var(--main-background-color);
}
.footer-form-label input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.button-form {
  position: absolute;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background-color: var(--accent);
  border-radius: 4px;
  border: 0px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.button-form:hover,
.button-form:focus {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.icon-footer-form {
  position: relative;
  top: 15%;
  left: 10px;
}
/* Портфоліо */
.filters-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.filters-button {
  background-color: var(--third-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.filters-button-one {
  background-color: var(--third-background-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.filters-button-one:hover,
.filters-button-one:focus {
  background-color: var(--accent);
  color: var(--third-color-hero);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-button:hover,
.filters-button:focus {
  background-color: var(--accent);
  color: var(--third-color-hero);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filters-list-item:not(:last-child) {
  margin-right: 8px;
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
}
.porfolio-item {
  width: 370px;
  margin-right: 30px;
  border: 1px solid #eeeeee;
  border-top: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.porfolio-item:nth-child(3n) {
  margin-right: 0;
}
.porfolio-item:nth-child(n + 4) {
  margin-top: 30px;
}
.porfolio-item:hover,
.porfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.porfolio-item:hover .portfolio-text-description {
  transform: translateY(-100%);
}
.text-container {
  padding: 20px 24px;
}
.portolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.porfolio-text {
  color: var(--secound-text-collor);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
.portfolio-text-box {
  position: relative;
  overflow: hidden;
}
.portfolio-text-description {
  position: absolute;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: var(--main-background-color);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
